<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Camera Usage!</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) Microphone Usage!</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Klomi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>Klomi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb557955679715895</string>
				<string>com.googleusercontent.apps.99070824124-ipf9ma8pfvcibkptdh4lmi7l0teresc2</string>
			</array>
			<key>FacebookAppID</key>
			<string>557955679715895</string>
			<key>FacebookClientToken</key>
			<string>2c860761049b11df9c0e4a0c1714b2f8</string>
			<key>FacebookDisplayName</key>
			<string>Klomi</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
  		<string>fbapi</string>
  		<string>fb-messenger-share-api</string>
		<string>sms</string>
  		<string>tel</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Klomi requires your camera access for you to take a picture of your ad</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Klomi requires your location to show nearby ad listings to you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Klomi requires your location to show nearby ad listings to you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Klomi requires your microphone access for you to record video of your ad</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Klomi requires your photos access for you to select your profile picture or to post your ad</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
